.portfolio__projects-block {
  margin-top: 47px;
  display: grid;
  grid-gap: 99px;
}

@media screen and (max-width: 470px) {
  .portfolio__projects-block {
    margin-top: 65px;
    grid-gap: 78px;
  }
}
