.button-close {
  display: none;
  border: none;
  outline: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity .3s;
  padding: 0;
  width: 23px;
  height: 23px;
  box-sizing: border-box;
  background-image: url('../../images/close-icon.svg');
  justify-self: flex-start;
}

.button-close:hover {
  opacity: 0.6;
}