.header__overlay {
  opacity: 1;
  visibility: visible;
  position: relative;
  background-color: #fff;
  left: 0;
  top: 0;
  width: 100vw;

  /* visibility: visible;
  opacity: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, 1);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; */
}
