.header__menu-button {
    display: none;
    border: none;
    outline: none;
    position: absolute;
    background-color: transparent;
    top: 75px;
    right: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: opacity .3s;
    padding: 0;
    z-index: 2;
  }

.header__menu-button:hover {
  opacity: 0.6;
}

@media screen and (max-width:1000px) {
  .header__menu-button {
    right: 30px;
  }
}

@media screen and (max-width: 560px) {
  .header__menu-button {
    display: block;
    top: 68px;
  }
}

