.portfolio {
  padding-top: 113px;
  padding-bottom: 96px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  .portfolio {
    padding-top: 81px;
    padding-bottom: 78px;
  }
}
