.footer {
  padding: 114px 0 123px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .footer {
    padding: 82px 0 90px 0;
  }
}