.header__menu-links_type_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(82,82,82);
  width: 100%;
}

@media screen and (max-width: 560px) {
  .header__menu-links_type_row {
    display: none;
  }
}
