.header__menu-links_type_column {
  display: grid;
  justify-items: start;
  grid-gap: 68px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

@media screen and (min-width: 560px) {
  .header__menu-links_type_column {
    display: none;
  }
}
