.skills__programs-block {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 110px;
  margin-top: 83px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 470px) {
  .skills__programs-block {
    margin-top: 71px;
    margin-bottom: calc(99px - 81px);
    flex-direction: column;
  }
}
