.about__content {
  max-width: 510px;
  margin: 0 auto;
  margin-top: 18px;
  display: grid;
  grid-gap: 40px;
  white-space: pre-line;
}

@media (max-width: 470px) {
  .about__content {
    white-space: normal;
  }
}
